
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>


    <link rel="stylesheet" href="~/Content/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/css/site.css" />

    <link href="~/Content/Estilos/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/Estilos/toastr.min.css" rel="stylesheet" />
    <link href="~/Content/Estilos/sweetalert.min.css" rel="stylesheet" />



    <script src="~/Content/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/Content/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/js/site.js" asp-append-version="true"></script>

    <script type="text/javascript" src="~/Content/Javascript/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Content/Javascript/toastr.min.js"></script>
    <script type="text/javascript" src="~/Content/Javascript/sweetalert.min.js"></script>

    <script src="~/Content/Javascript/test.js"></script>

    <style>
       

    </style>
   

</head>
<body>
    <div>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <ul id="menu-dashboard" class="navbar-nav mr-auto mt-2 mt-lg-0">
                            <li class="nav-item ">@Html.ActionLink("Lista de Servicios", "ListaServicios", "Siaf", new { @class = "nav-item nav-link active" })</li>
                            <li class="nav-item">@Html.ActionLink("Lista de Compras", "ListaCompras", "Siaf", new { @class = "nav-item nav-link" })</li>
                            <li class="nav-item">@Html.ActionLink("Pendientes x Devengar", "PendientesPorDevengar", "Siaf", new { @class = "nav-item nav-link" })</li>
                            <li class="nav-item">@Html.ActionLink("Pendientes de Pago", "PendientesDevengados", "Siaf", new { @class = "nav-item nav-link" })</li>
                            <li class="nav-item">@Html.ActionLink("Consolidado de Contratos", "ListaContratos", "Siaf", new { @class = "nav-item nav-link" })</li>
                            
                            
                        </ul>

                    </div>
                </div>
            </div>            
        </nav>

        <!-- Main view  -->
        <div id="onlineStatus" class="row"></div>
        <div id="cuerpo" class="container">
            @RenderBody()
        </div>
        <div class="row" style="height:110px;"></div>


    </div>


    <script>
        $(document).ready(function () {

            $('#menu-dashboard li').on('click', function (e) {
                //alert("aa");
                // $('#submenu').removeClass('in');
                $('#menu-dashboard li').toggleClass();
            });

        });

    </script>

</body >
</html >
